@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';

.header {
  color: $white;
  letter-spacing: 0.03em;
}

.navigation {
  &__top {
    padding: 17px 0;
    @extend %top-font;
    background-color: $dark-800;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
  }

  &__help {
    display: flex;
  }

  &__item {
    position: relative;
    padding-left: 34px;
  }

  &__item:first-child {
    margin-right: 48px;
    padding-left: 44px;
  }

  &__link {
    transition: opacity 0.2s;
  }

  &__link:hover {
    opacity: 0.7;
  }

  &__link::before {
    @extend %position;
    left: 0;
    bottom: 46%;
    transform: translateY(46%);
    width: 32px;
    height: 22px;
    @extend %background;
  }

  &__link--adress:before {
    background-image: url('../images/adress.svg');
  }

  &__link--tel:before {
    background-image: url('../images/tel.svg');
  }

  &__bottom {
    padding: 25px 0;
    background-color: $green-900;
  }

  &__box {
    display: flex;
    align-items: center;
  }

  &__catalog {
    position: relative;
    max-width: 240px;
    width: 100%;
    padding: 15px 43px 15px 58px;
    margin-right: 30px;
    border-radius: 6px;
    @extend %lato-600;
    letter-spacing: 0.03em;
    color: $green-900;
    background-color: $white;
    transition: background-color 0.3s;
  }

  &__catalog:hover,
  &__catalog:active {
    background-color: $green-200;
  }

  &__catalog:hover &__checkmark,
  &__catalog:active &__checkmark {
    top: 16px;
    transform: rotate(180deg);
  }

  &__line::before {
    @extend %position;
    width: 25px;
    height: 1px;
    background-color: $green-900;
  }

  &__line--top:before {
    left: 17px;
    top: 16px;
  }

  &__line--center:before {
    left: 17px;
    top: 24px;
    width: 20px;
  }

  &__line--bottom:before {
    left: 17px;
    top: 32px;
  }

  &__checkmark {
    position: absolute;
    top: 23px;
    right: 18px;
    width: 10px;
    height: 10px;
    background-image: url('../images/icons/chevron.svg');
    @extend %background;
    transition: top 0.3s, transform 0.3s;
  }
}

.logo {
  margin-right: 30px;
}

.menu {
  display: flex;

  &__item:not(:last-child) {
    margin-right: 24px;
  }

  &__link {
    transition: opacity 0.2s;
  }

  &__link:hover {
    opacity: 0.7;
  }
}

.seaarch-form {
  display: flex;
  margin-right: 45px;
  max-width: 576px;
  width: 100%;

  &__inner {
    display: flex;
    align-items: center;
    border-radius: 6px;
    background-color: $white;
  }

  &__label {
    background-image: url('../images/icon-search.svg');
    width: 20px;
    height: 20px;
    @extend %background;
    background-position: right center;
    padding-left: 30px;
  }
  
  &__input {
    padding: 15px 200px 15px 18px;
    width: 100%;
    @extend %lato-400;
    color: $dark-800;
  }

  &__btn {
    padding: 0 52px;
    text-transform: uppercase;
    background-color: $dark-800;
    color: $white;
    border-radius: 0px 6px 6px 0px;
  }

  &__btn:hover {
    background-color: $silver-hover;
  }

  &__btn:active {
    color: $btn-text;
  }

  &__btn:focus {
    box-shadow: 0px 0px 0px 4px $green-200;
  }

}

.user-icons {
  display: flex;

  &__item:not(:last-child) {
    margin-right: 32px;
  }

  &__item {
    position: relative;
  }

  &__link {
    display: block;
    width: 32px;
    height: 31px;
    @extend %background;
    background-position: center right;
  }

  &__link--user {
    background-image: url('../images/icon-user.svg');
  }

  &__link--heart {
    background-image: url('../images/icon-heart.svg');
  }

  &__link--cart {
    background-image: url('../images/icons/basket.svg');
  }

  &__num {
    position: absolute;
    left: -6px;
    top: -8px;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: $white;
    @extend %lato-600;
    color: $red-900;
    line-height: 1;
    font-size: 10px;
    padding: 4px 3px;
  }
}

.top-slider {
  &__item {
    padding: 143px 0;
    background-repeat: no-repeat;
    background-size: cover;
  }

  &__action {
    padding: 24px;
    margin-bottom: 30px;
    border-radius: 6px;
    background-color: $slider-color;
  }

  &__action--carrot {
    max-width: 765px;
  }

  &__action--tomato {
    max-width: 818px;
  }

  &__action--greens {
    max-width: 877px;
  }

  &__title {
    @extend %signika-700;
    font-size: 60px;
    line-height: 1.3;
    text-transform: uppercase;
  }

  &__text {
    @extend %lato-400;
    font-size: 16px;
  }

  &__discount {
    color: $red-900;
  }

  &__btn {
    @extend %btn-green;
    @extend %btn;
    color: $white;
    background-color: $green-900;
    transition: background-color 0.3s, box-shadow 0.3s, color 0.3s;
  }
}

.slick-prev,
.slick-next {
  padding: 14px 20px;
  background-color: $slider-color;
  border-radius: 6px;
  position: absolute;
  top: 47%;
  transform: translateY(-47%);
}

.slick-prev {
  left: 60px;
  z-index: 1;
}

.slick-next {
  right: 60px;
}

.advantages {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 48px 0;
  background-color: $silver-100;

  &__items {
    display: flex;
  }

  &__item {
    padding-left: 74px;
    @extend %background;
  }

  &__item--scooter {
    background-image: url('../images/scooter.svg');
  }

  &__item--return {
    background-image: url('../images/return-box.svg');
  }

  &__item--support {
    background-image: url('../images/24-hours.svg');
  }

  &__item:not(:last-child) {
    margin-right: 48px;
  }

  &__title {
    margin-bottom: 7px;
    font-size: 16px;
    color: $dark-900;
  }

  &__text {
    @extend %lato-400;
  }
}

.product {
  padding: 72px 0;
  text-align: center;

  &__item {
    display: flex;
    justify-content: center;
    margin-bottom: 48px;
    font-size: 15px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
  }

  &__tab {
    display: block;
    cursor: pointer;
    padding-bottom: 3px;
    border-bottom: 3px solid transparent;
    transition: border-bottom 0.3s;

  }

  &__tab:hover,
  &__tab:active {
    border-bottom: 3px solid $green-200;
  }

  &__tab:not(:last-child) {
    margin-right: 24px;
  }

  &__btn {
    @extend %btn;
    color: $green-900;
    background-color: $white;
    border: 1px solid $green-900;
    transition: background-color 0.3s, box-shadow 0.3s, color 0.3s;
  }

  &__btn:hover {
    background-color: $green-100;
  }

  &__btn:active {
    box-shadow: inset 0px 10px 4px $black-btn;
    color: $btn-color;
  }

  &__btn:focus {
    box-shadow: 0px 0px 0px 4px $btn-color;
  }
}

.tabs-wrapper .active {
  padding-bottom: 3px;
  border-bottom: 3px solid $green-200;
}

.product-cards {
  margin-bottom: 48px;

  &__box {
    display: grid;
    grid-template: 409px 409px / repeat(4, 300px);
    grid-gap: 30px;
  }

  &__item {
    position: relative;
    padding-top: 52px;
    text-align: left;
    border: 1px solid $cards-color;
    border-radius: 6px;
    background-color: $white;
    transition: border 0.3s;
  }

  &__item:hover {
    border: 1px solid $green-900;
  }

  &__badges {
    position: absolute;
    left: 12px;
    top: 12px;
    padding-left: 12px;
    text-transform: uppercase;
  }

  &__new,
  &__discount,
  &__hit {
    display: block;
    width: 66px;
    padding: 3px 7px;
    border-radius: 6px;
    @extend %badges-font;
  }

  &__new {
    margin-bottom: 6px;
    background-color: $green-900;
  }

  &__discount {
    width: 37px;
    background-color: $red-900;
  }

  &__hit {
    width: 34px;
    background-color: $hit-color;
  }


  &__favorite {
    position: absolute;
    right: 12px;
    top: 17px;
    font-size: 0;
    width: 32px;
    height: 29px;
    background-image: url('../images/icons/icon-heart.svg');
    transition: background-image 0.3s;
  }

  &__favorite:hover {
    background-image: url('../images/icons/yellow-heart.svg');
  }

  &__basket {
    position: absolute;
    right: 18px;
    bottom: 18px;
    font-size: 0;
    width: 32px;
    height: 32px;
    background-color: $green-900;
    @extend %btn-green;
    border-radius: 3px;
  }

  &__basket::before {
    content: '';
    position: absolute;
    left: 8px;
    top: 50%;
    transform: translateY(-50%);
    width: 16px;
    height: 16px;
    background-image: url('../images/icons/basket.svg');
    background-repeat: no-repeat;
  }

  &__link {
    margin-bottom: 12px;
    display: inline-block;
  }

  &__name {
    display: block;
    padding: 0px 18px;
  }

  &__price {
    position: absolute;
    left: 21px;
    bottom: 18px;
    @extend %lato-400;
    line-height: 1;
    letter-spacing: 0.03em;
  }

  &__old-price {
    position: relative;
    display: block;
    color: $silver-600;
    margin-bottom: 3px;
  }

  &__old-price::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 7px;
    transform: rotate(-17deg);
    width: 45px;
    height: 0.6px;
    background-color: $silver-600;

  }

}

.footer {
  padding: 30px 0;
  @extend %lato-400;
  color: $white;
  background-color: $dark-800;

  &__logo {
    display: block;
    margin-bottom: 30px;
  }


  &__hotline,
  &__adress {
    margin-bottom: 18px;
    display: block;
  }

  &__icons {
    display: flex;
    padding-left: 6px;
  }

  &__item:not(:last-child) {
    margin-right: 12px;
  }

  &__link {
    display: block;
    width: 32px;
    height: 32px;
    @extend %background;
    transition: opacity 0.3s;
  }

  &__link:hover,
  &__link:active {
    opacity: 0.7;
  }

  &__link--facebook {
    background-image: url('../images/facebook.svg');
  }

  &__link--youtube {
    background-image: url('../images/youtube.svg');
  }

  &__link--telegram {
    background-image: url('../images/telegram.svg');
  }

  &__link--instagram {
    background-image: url('../images/instagram.svg');
  }
}


.footer-top {
  border-bottom: 1px solid $footer-line;
  padding-bottom: 30px;

  &__inner {
    display: flex;
    justify-content: space-between;
  }
}

.subscribe-form {
  line-height: 14px;
  max-width: 300px;

  &__item {
    display: flex;
  }

  &__label {
    display: block;
    margin-bottom: 18px;
  }

  &__input {
    padding: 12px;
    max-width: 182px;
    width: 100%;
    border-radius: 6px 0px 0px 6px;
  }

  &__btn {
    @extend %lato-700;
    line-height: 1.2;
    font-size: 12px;
    color: $white;
    text-transform: uppercase;
    padding: 12px 10px 12px 14px;
    background-color: $green-900;
    border-radius: 0px 6px 6px 0px;
    max-width: 118px;
  }

  &__btn {
    @extend %btn;
    @extend %btn-green;
    color: $white;
    background-color: $green-900;
    transition: background-color 0.3s, box-shadow 0.3s, color 0.3s;
  }
}

.footer-nav {
  display: flex;
  justify-content: space-between;

  &__list:not(:last-child) {
    margin-right: 80px;
  }

  &__item:not(:last-child) {
    margin-bottom: 18px;
  }


}

.footer-bottom {
  padding-top: 30px;
  text-transform: uppercase;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__list {
    display: flex;
  }

  &__item {
    display: block;
    @extend %background;
  }

  &__item--visa {
    width: 93px;
    height: 23px;
    background-image: url('../images/visa.svg');
  }

  &__item--mastercard {
    width: 49px;
    height: 29px;
    background-image: url('../images/mastercard.svg');
  }

  &__item:not(:last-child) {
    margin-right: 24px;
  }

}