.footer {
  padding-top: 30px;
  color: $white;
  background-color: $dark-800;

  &__top {
    border-bottom: 1px solid $footer-line;
    padding-bottom: 30px;
  }

  &__inner {
    display: flex;
  }

  &__logo {
    display: block;
    margin-bottom: 26px;
  }

  &__nav {
    column-count: 3;
    column-gap: 84px;
    margin-right: 92px;
  }

  &__item:not(:last-child) {
    margin-bottom: 18px;
  }

  &__link {
    transition: opacity 0.3s, color 0.3s;

    &:hover {
      opacity: 0.7;
    }

    &:focus {
      color: $focus-link;
    }
  }

  &__hotline,
  &__address {
    margin-bottom: 18px;
    display: block;
  }

  &__address {
    transition: opacity 0.3s,
      color 0.3s;

    &:hover {
      opacity: 0.7;
    }

    &:focus {
      color: $focus-link;
    }
  }

  &__icons {
    display: flex;
  }

  &__icon:not(:last-child) {
    margin-right: 12px;
  }

  &__pic {
    display: block;
    width: 32px;
    height: 32px;
    background-repeat: no-repeat;
    background-size: contain;
    transition: opacity 0.3s;
    border-radius: 5px;

    &:hover {
      opacity: 0.7;
    }
    
    &--facebook {
      background-image: url('../images/icons/facebook.svg');
    }

    &--youtube {
      background-image: url('../images/icons/youtube.svg');
    }

    &--telegram {
      background-image: url('../images/icons/telegram.svg');
    }

    &--instagram {
      background-image: url('../images/icons/instagram.svg');
    }
  }

  &__bottom {
    padding: 28px 0;
    text-transform: uppercase;
  }

  &__box {
    display: flex;
    justify-content: space-between;
  }

  &__list {
    display: flex;
  }

  &__card {
    display: block;
    background-repeat: no-repeat;
    background-size: contain;

    &:not(:last-child) {
      margin-right: 24px;
    }

    &--visa {
      width: 93px;
      height: 29px;
      background-image: url('../images/icons/visa.svg');
    }

    &--mastercard {
      width: 49px;
      height: 29px;
      background-image: url('../images/icons/mastercard.svg');
    }
  }
}

.subscribe-form {
  line-height: 14px;
  max-width: 300px;
  margin-right: 158px;

  &__item {
    display: flex;
    justify-content: flex-end;
  }

  &__label {
    display: block;
    margin-bottom: 15px;
  }

  &__input {
    padding: 12px;
    max-width: 182px;
    width: 100%;
    border-radius: 6px 0px 0px 6px;

    &:focus {
      outline: 1px solid orange;
    }

  }
}