.product-card {
  position: relative;
  border: 1px solid $cards-color;
  border-radius: 6px;
  background-color: $white;
  transition: border 0.3s;
  padding: 12px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &:hover {
    border: 1px solid $green-900;
  }

  &__favorite {
    position: absolute;
    top: 17px;
    right: 12px;
    width: 32px;
    height: 29px;
    border: 0;
    background-color: transparent;
    padding: 0;

    path {
      transition: fill 0.3s;
    }

    &:hover {
      path {
        fill: $yellow-900;
      }
    }
  }

  &__link {
    display: block;
    margin-bottom: 4px;
  }

  &__bottom {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 6px;
    height: 101px;
  }

  &__name {
    display: block;
    transition: opacity 0.3s, color 0.3s;
    margin-bottom: 9px;

    &:hover {
      opacity: 0.7;
    }
  }

  &__title {
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.03em;
    color: $dark-900;
    @include title-clamp;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  &__price {
    line-height: 1;
    letter-spacing: 0.03em;
    display: inline-block;
    max-width: 200px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;

    &--old {
      display: block;
      color: $silver-600;
      position: relative;
      margin-bottom: 3px;

      &::before {
        position: absolute;
        content: '';
        z-index: 10;
        left: 0;
        bottom: 0;
        width: 45px;
        height: 0.6px;
        background-color: $silver-600;
        transform: rotate(0deg);
      }
    }
  }

  &__basket {
    width: 32px;
    height: 32px;
    padding: 8px;
    border-radius: 3px;
    background-color: $green-900;

    &:hover {
      background-color: $dark-green;
    }

    &:active {
      box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    }

    &:focus {
      box-shadow: 0px 0px 0px 4px $green-200;
    }
  }
}