.promotions {
  background-color: $bg-promo;

  &__title {
    margin-bottom: 32px;
    text-align: center;
  }

  &__cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, 300px);
    grid-gap: 30px;
    margin-bottom: 48px;
  }

  &__btn {
    display: block;
    margin: 0 auto;
  }
}